<% include ./partials/header_results %>

<h1> Your starting location: <%= location %> </h1>
<h2> <%= radius %> </h2>
<h3> <%= price %> </h3>
<p>You have searched by: <%= term %></p>
<h4>Your result: <%= name %> </h4>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-sm-5">
      <div id ="google_map_holder">
          <div id="google_map">
          </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div>
        <a href="<%= yelpURL%>"><h3><%= name %>'s Yelp Link</h3></a>
          <img src= "<%= image %>" class = "rounded img-fluid">
      </div>
    </div>
  </div>
</div>


<% include ./partials/footer_results %>